:root {
	--black: #3d3d3d;
	--white: #ede8da;
	--box-shadow: 0px 7px 10px -3px rgba(61,61,61,0.3);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
	color: var(--black);
}

a {
	text-decoration: none;
	color: var(--black);
}

p {
	line-height: 1.5;
}

li {
	list-style-type: none;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--white);
	border-bottom: 4px solid var(--black);
	box-shadow: var(--box-shadow);;
	z-index: 10;
}

.logo-copy {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -2px;
}

.site-container {
	padding: 80px 48px;
	background-color: var(--white);

	@media screen and (max-width: 1200px) {
		padding: 80px 24px;
	}
}

.container {
	position: relative;
	width: 100%;
}

.split {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 48px;
	height: 80px;

	@media screen and (max-width: 1200px) {
		padding: 0 24px;
	}
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 800;
}

.nav-link {
	padding: 8px;
	font-size: 24px;
}

.link {
	text-decoration: underline;
}

.link-container--icon {
	position: relative;
	left: 0;
	transition: left ease 0.10s;
	display: flex;
	margin-top: 48px;
}

.link-container--icon:hover .link-icon {
	left: 5px;
}

.link-copy {
	font-size: 24px;
	font-weight: 800;
}

.link-icon {
	position: relative;
	left: 0;
	transition: left ease 0.15s;
}

.arrow {
	margin-left: 16px;
}

.button {
	padding: 8px 24px;
	font-size: 24px;
	border: 4px solid var(--black);
	transition: all ease 0.15s;
}

.button:hover {
	border: 4px solid var(--white);
	background-color: var(--black);
	color: var(--white);
}

.nav-items .button {
	margin-left: 24px;
}

.hero_copy-container {
	line-height: 1;
}

.full-width-copy--xl {
	font-size: 39vw;
	letter-spacing: -30px;

	@media screen and (max-width: 1024px) {
		letter-spacing: -20px;
	}

	@media screen and (max-width: 768px) {
		letter-spacing: -14px;
	}
}

.full-width-copy--l {
	font-size: 28vw;
	letter-spacing: -18px;

	@media screen and (max-width: 768px) {
		letter-spacing: -11px;
	}
}

.full-width-copy--m {
	font-size: 6.8vw;
	letter-spacing: -2px;

	@media screen and (max-width: 768px) {
		font-size: 7.8vw;
	}
}

.full-width-copy--s {
	font-size: 2.4vw;
	font-weight: 600;
	line-height: 2;
}

.section-break {
	display: flex;
	align-items: center;
	padding: 80px 0;
	width: 100%;
}

.section-break--left {
	justify-content: flex-start;
}

.section-break--right {
	justify-content: flex-end;
}

.section-break--center {
	justify-content: center;
}

.line-break {
	width: 50%;
	height: 4px;
	background-color: var(--black);
}

.split-container {
	width: 50%;
	height: auto;

	@media screen and (max-width: 768px) {
		width: auto;
	}
}

.centered-container--vertical {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
}

.image--portrait {
	padding-right: 48px;
	max-height: 750px;
	width: 100%;

	@media screen and (max-width: 1200px) {
		width: 80%;
	}

	@media screen and (max-width: 768px) {
		padding: 0 0 48px;
		height: 400px;
		width: 100%;
	}
}

.section-title {
	margin-bottom: 16px;
	font-size: 48px;
}

.copy-container {
	max-width: 700px;
}

.card-container {
	padding: 48px 0 80px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;

	@media screen and (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 768px) {
		display: block;
	}
}

.process-card {
	display: flex;
	flex-direction: column;
	padding: 24px;
	border: 4px solid var(--black);
	box-shadow: var(--box-shadow);

	@media screen and (max-width: 768px) {
		margin-bottom: 48px;
	}
}

.card-number {
	font-size: 96px;
	line-height: 1;
	font-weight: 500;
}

.card-title {
	padding: 48px 0 24px;
	font-size: 48px;
	font-weight: 400;
}

.large-title {
	font-size: 80px;
	font-weight: 800;
	letter-spacing: -2px;
	line-height: 1;
}

.extra-large-title {
	font-size: 160px;
	font-weight: 800;
	letter-spacing: -6px;
	line-height: 1;

	@media screen and (max-width: 1200px) {
		
	}

	@media screen and (max-width: 768px) {
		font-size: 120px;
		letter-spacing: -2px;
	}
}

.margin-bottom--24 {
	margin-bottom: 24px;
}

.margin-bottom--80 {
	margin-bottom: 80px;
}

.project-card {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 48px;
	margin: 80px 0 40px;
	padding: 80px 80px 0;
	border: 4px solid var(--black);
	box-shadow: var(--box-shadow);

	@media screen and (max-width: 1200px) {
		padding: 48px 48px 0;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 48px 24px 0;
	}
}

.framed {
	background-color: #c0bae3;
}

.framed .project-list-copy {
	margin-bottom: 8px;
	font-weight: 500;
	color: #5e5e5e;
}

.drawthings {
	background-color: var(--black);
	border-color: #f5f5f5;
	color: #f5f5f5;
}

.drawthings .project-list-copy {
	margin-bottom: 8px;
	font-weight: 500;
	color: #f5f5f5;
}

.drawthings .link-copy {
	color: #f5f5f5;
}

.project-copy-column {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 40%;

	@media screen and (max-width: 768px) {
		width: auto;
	}
}

.project-image-column {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	width: 60%;

	@media screen and (max-width: 768px) {
		width: auto;
	}
}

.project-logo {
	margin-bottom: 48px;
	width: 100%;
}

.project-image {
	width: 70%;
	max-width: 600px;
}

.example-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
}

.relative-container {
	position: relative;
}

.sticky-container {
	position: sticky;
	top: 128px;
	margin-bottom: 128px;
}

.example-container {
	margin-bottom: 80px;
}

.portfolio-example {
	margin-bottom: 24px;
	border: 4px solid var(--black);
	width: 100%;
	box-shadow: var(--box-shadow);
}

.company-logo {
	margin-bottom: 24px;
	height: 48px;
	max-width: 300px;
}

.details-list {
	margin-bottom: 24px;
}

.skill-pill-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 24px;
	width: 100%;
}

.skill-pill {
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 8px;
	border: 4px solid var(--black);
	font-size: 12px;
	box-shadow: var(--box-shadow);
}

.tldr {
	margin: 80px 0 24px;
	font-size: 48px;
}

.tldr-copy {
	margin-bottom: 160px;
	max-width: 50%;
}

.copy-columns {
	transition: max-height 0.5s ease-in-out;
}

.expand-content {
	position: relative;
	overflow: hidden;
	max-height: 150px;
}

.toggle-button {
	margin-top: 48px;
	font-weight: 600;
	text-decoration: underline;
	cursor: pointer;
}

.copy-collapse-gradient {
	position: absolute;
	bottom: 0;
	display: block;
	height: 100px;
	width: 100%;
	background: rgb(237,232,218);
	background: linear-gradient(0deg, rgba(237,232,218,1) 21%, rgba(255,255,255,0) 100%);
}

.expanded .copy-collapse-gradient {
	display: none;
}

.copy {
	max-width: 750px;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.text-center {
	text-align: center;
}

.tech-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 8px;
	margin: 80px 0;
}

.tech-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px;
	border: 4px solid var(--black);
	box-shadow: var(--box-shadow);
}

.tech-item img {
	max-height: 48px;
	max-width: 100px;
}

.cta {
	padding: 160px 48px;
	border: 4px solid var(--black);
	box-shadow: var(--box-shadow);
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 80px 0;
}

.footer-contact-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.social-icon {
	padding-top: 24px;
}